
<p><h3>Your TODO Items:</h3></p>
<table border="1">
  <tr>
      <th>Task_id</th>
      <th>Description</th>
      <th>Due_date</th>
      <th>Modified_date</th>
      <th>Update</th>
    </tr>
{%for row in rows%}
  <tr>
    <td>{{row[0]}}</td>
    <td>{{row[1]}}</td>
    <td>{{row[2]}}</td>
    <td>{{row[3]}}</td>
  <td><a href="{{ url_for('edit_item',Task_id = row[0])}}"> Update </a></td>
  </tr>
{%endfor%}
</table>
<p>Tomorrow's task :: <a href="/tomorrowlist">Tomorrowlist</a> item</p>
<p>Create New task :: <a href="/new">New</a> item</p>
<p>Show Done tasks ::  <a href="/done">Done Items</a></p>
<p><a style="margin-left: 115px;text-decoration: none;" class="deletetask" href="{{ url_for('do_admin_logout')}}">Logout</a></p>
